<div class="contact">
	<h1>JAY FERGUSON</h1>

	<p>
		Competitive cyclist, husband, father, Saint Bernard owner, coffee connoisseur, Interactive Designer, Illustrator, Marin County, CA
	</p>

	<div class="row">
		<div class="col-md-2">

		</div>
		<div class="col-md-2">
		</div>
		<div class="col-md-2">
		</div>
		<div class="col-md-2">
		</div>

		<div class="col-md-10">
			<h2>DIRECT CONTACT</h2>
			<%= link_to "JAY.M.FERGUSON@GMAIL.COM", '#' %>
		</div>
		<div class="col-md-10">
			<h2>DESIGN PORTFOLIO</h2>
			<%= link_to "BEHANCE.NET/JAYMFERGUSON", '#' %>
		</div>
		<div class="col-md-10">
			<h2>SNAPSHOT FEED</h2>
			<%= link_to "INSTAGRAM.COM/JAYMFERGUSON", '#' %>
		</div>
		<div class="col-md-10">
			<h2>BROADCAST FEED</h2>
			<%= link_to "TWITTER.COM/JAYMFERGUSON", '#' %>
		</div>
	</div>

</div>